.circle {
    background: black;
    border-radius: 50%;
    width: 32px; /* Adjusted width to ensure the circle */
    height: 32px; /* Adjusted height to ensure the circle */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 8px;
}
.nav-links-color a {
    color: black;
}

.shopping-cart p {
    padding: 0;
    margin: 0;
}
.price {
    color: #d51863;
}

.line {
    background-color: black;
    width: 44px;
    height: 2px;
    margin-bottom: 5px;
}

.feature-products p {
    padding: 0;
    margin: 0;
}
.info-section {
    margin-bottom: 10px;
}

.info-section h2 {
    font-size: 18px;
    color: #333;
    margin: 0 0 0 0;
}

.info-section {
    font-size: 16px;
    color: #666;
    margin: 0;
}

.top-navbar a:hover {
    color: #7D9A40;
    /* font-weight: bold; */
    transform: scale(1.1);
}

.service-affects:hover .border {
    /* background-color: #f0f0f0; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     transform: scale(1.05);
    /* border-color: #007bff; */
    transition: all 0.3s ease;
}
.service-affects:hover h6,
.service-affects:hover p {
    color: #7D9A40;
    font-weight: bold;
}

.aiz-count-down-circle #time div {
    color:white !important;
    /* background-color: transparent; */
}

.aiz-count-down-circle {
    background-color: transparent;
    box-shadow: none;
}

.aiz-count-down-circle #time .circle {
    background-color: #7D9A40;
}

/* for order confirmation page- start */
.order-progress-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
 }
 .order-progress-item {
    flex: 1;
     margin-right: 5px;
  }
 .order-progress-item:last-child {
     margin-right: 0;
 }
 #timer{
     font-weight: bold; 
     font-size: 14px;
 }
 .text-size{
     font-size: 15px;
 }
 .time{
     display: flex;
     font-size: 35px;
     font-weight: bold; 
 }
 /* for order confirmation page-end*/